---
title: Wizeline Technical Documentation Style Guide

language_tabs: # must be one of https://git.io/vQNgJ
  - shell

toc_footers:
  - <a href='https://github.com/wizeline/tw-sg/blob/master/README.md'>Read the Style Guide Release Notes</a>
  - <a href='https://github.com/slatedocs/slate'>Documentation Powered by Slate</a>

includes:
  - errors

search: true
---

# Wizeline Technical Documentation Style Guide

Welcome to the **Wizeline Technical Documentation Style Guide**. You can use this document to implement technical documentation guidelines and practices in your team. The purpose of this document is to help and guide you to write excellent documents, presentations, and even emails.

<%= partial 'includes/structure.md.erb' %>